<footer>
      <div class="f-info">
            <div class="f-info-social">
                  <a href="https://github.com/KrishnaSriTarun" class="text-dark"><i class="fa-brands fa-github"></i></a>
                  <a href="https://www.instagram.com/krishna_sri_tarun_" class="text-dark"><i class="fa-brands fa-square-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/krishna-sri-tarun/" class="text-dark"><i class="fa-brands fa-linkedin"></i></a>
                  <a href="https://krishnasritarun.netlify.app/" class="text-dark"><i class="fa-solid fa-user-tie"></i></a>
            </div>
            <div class="f-info-brand">&copy; WanderLust Private limited</div>
            <div class="f-info-links">
                  <a href="/privacy">Privacy</a>
                  <a href="/terms">Terms</a>
            </div>
      </div> 
</footer>